@* @using Sandbox;
@using Sandbox.UI;
@inherits Panel
@namespace astral_base.RPBASE


@if (LocalPlayer == null){ return; }

<root style="color: white;">
	<p>Health: @LocalPlayer.GetHealth()</p>
	<p>|</p>
	<p>Armor: @LocalPlayer.GetArmor()</p>
</root> *@