Chat {
    .chat-container {
        position: absolute;
        bottom: 0px;
        left: 10px;
        width: 600px;
        display: flex;
        flex-direction: column;
        gap: 20px;
    }

    .messages {
        display: flex; /* Enable flexbox */
        flex-direction: column; /* Stack messages vertically */
        height: 300px;
        gap: 10px;
        overflow-y: auto; /* Vertical scrolling */
        padding: 10px;
        background-color: rgba(0, 0, 0, 0.4);
        border-radius: 20px;
        opacity: 0;

        &.active {
            opacity: 1;
        }

        .message {
            display: flex; /* Enable flexbox */
            gap: 10px; /* Add spacing between elements in a message */
            flex-shrink: 0; /* Prevent shrinking */

            .avatar {
                width: 50px;
                height: 50px;
                border-radius: 50%;
                overflow: hidden;
                background-color: rgba(0, 0, 0, 0);
            }

            .text {
                color: grey;
            }

            .content {
                display: flex; /* Enable flexbox */
                font-family: Itim;
                font-size: 25px;
                gap: 5px; /* Adjust spacing between name and text */
                text-shadow: 4px 4px 2px rgba(0, 0, 0, 0.7);

                .name {
                    color: yellow;
                }

                .system-text {
                    color: rgb(0, 129, 0);
                }

                .text {
                    color: white;
                }
            }
        }
    }

    .input-container {
        display: flex; /* Ensure it's displayed when active */
        opacity: 0;
        transition: opacity 0.3s ease; /* Smooth transition */

        &.active {
            opacity: 1;
        }
    }

    .input {
        background-color: rgba(0, 0, 0, 0.8);
        width: 100%;
        height: 50px;
        pointer-events: all;
        color: white;
        padding: 10px;
        font-family: Itim;
        font-size: 30px;
        border-radius: 20px;
    }

    .clickaway {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        pointer-events: all;
    }
}
